a {
  text-decoration: none;
}

/**
 * Résumé Trajet en liste
 */
/* Infos conducteur */
.trip-short-driver {
  float: left;
  margin-right:4em;
}

.trip-short-driver h2 {
  max-width: 90px;
  font-weight: bold;
  font-size: 1.14em;
  color: #413D35;
  margin: 0;
  display: inline;
}

.trip-short-price h2, .trip-short-price-remaining-seats {
  color: #413d35;
}

.trip-short-price h2 {
  margin-bottom: 0;
}

/* Infos trajet */
.trip-short-info {
  float: left;
  margin-right: 4em;
  color: #413d35;
  border-left: 2px solid #727272;
  padding: 0 4em;
}

/* Infos prix */
.trip-short-price {
  float: left;
}

.driver-rating {
  font-weight: 700 !important;
  color: #413D35 !important;
}

.u-green {
  color: #00A87E !important;
}

.u-red {
  color: #F53F5B !important;
}

.u-yellow {
  color: #FED141 !important;
}

.fa-map-marker, .fa-star, .fa-car {
  margin-right: 0.5em;
}

.trip {
  list-style: none;
  cursor: pointer;
}

.trip-search-oneresult {
  padding: 1em 0;
  display:inline-block;
  color:#727272;
  border-bottom:2px solid #727272;
}
.trip-search-oneresult:hover {
  color:#727272;
  background:#eff8fd
}

.container {
  clear: right;
}

.spacer {
  display: block;
  clear: both;
  width:100%;
  height: 2.5em;
}

agm-map {
  height: 300px;
}
