<div>
  <h2>Détails du trajet : </h2>
</div>

<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

<div *ngIf="!loading">
  <div class="trip-short-driver">
    <!-- Infos conducteur -->
    <h2>{{trajet.driverData.prenom}} {{trajet.driverData.nom | slice:0:1}}</h2>
    <div class="driver-age">
      {{trajet.driverData.age}} ans
    </div>
    <i class="fa fa-star u-yellow"></i>
    <span class="driver-rating">{{trajet.driverData.evaluationMoyenne}}/5</span> - {{trajet.driverData.nbEvaluations}} Avis
  </div>
  <div class="trip-short-info">
    <!-- Infos trajet -->
    <h3>Le {{trajet.date | date: 'dd/MM/yyyy'}} à {{trajet.heure}} </h3> <br/>
    {{trajet.depart.ville}} → {{trajet.arrivee.ville}} <br/>

    <i class="fa fa-map-marker u-green"></i>{{trajet.depart.ville}} : ({{trajet.depart.adresse}}) <br/>
    <i class="fa fa-map-marker u-red"></i>{{trajet.arrivee.ville}} : ({{trajet.arrivee.adresse}})
  </div>
  <div class="trip-short-price">
    <!-- Infos prix -->
    <h2>{{trajet.prix}} €</h2>
    par place
    <div class="trip-short-price-remaining-seats">
      {{trajet.placesRestantes}} places restantes
    </div>

  </div>

  <!--<div>-->
    <!--<p-gmap [options]="mapOptions" [style]="{'width':'100%','height':'320px'}" ></p-gmap>-->
  <!--</div>-->


  <div *ngIf="isAdmin()">
    <input type="text" name="date" [(ngModel)]="newDate">
    <button class="btn btn-warning" (click)="updateDate()"> Forcer une nouvelle date</button>
  </div>


  <div *ngIf= "!complet && !archived && !hasProposed && !hadReserved">
    <button class="btn btn-secondary" (click)="AddResa()>Reserver maintenant !</button>
  </div>

  <div *ngIf= "complet">
    <p> Le trajet est complet </p>
  </div>

  <div *ngIf="hadReserved && !archived">
    <button class="btn btn-secondary">Annuler maintenant !</button>
  </div>

  <div *ngIf="hadReserved && archived">
    // Noter le conducteur ici
  </div>

</div><!-- end if !loading -->
