.trip-search-submit:focus {
  text-decoration: none;
  background-color: #005293;
}

.trip-search-submit {
  cursor: pointer;
  background-color: #0086BF;
  color: #fff !important;
  text-align: center;
  vertical-align: middle;
}

.form-group{
  float: left;
  margin-left: 2em;
}

.form-group button {
  margin-top: 25px;
}

p-dropdown {
  display: block;
}

/*.ui-dropdown {*/
  /*height: 34px;*/
/*}*/

.ui-dropdown-label, .ui-dropdown, .ui-widget {
  height: 34px;
}


.swap-arrow {
  float: left;
  margin-left: 0.5em;
  /*margin-right: 0.5em;*/
  margin-top: 0.25em;
}

.u-green {
  color: #00A87E !important;
}

.u-red {
  color: #F53F5B !important;
}

.u-yellow {
  color: #FED141 !important;
}

.fa-map-marker, .fa-star {
  margin-right: 0.5em;
}

.clear-left {
  clear: left;
}
