body {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.search-header {
  /*width: 80%;*/
  float: left;
}

.loginBox {
  /*width: 20%;*/
  float: right;
}
.spacer {
  display: block;
  clear: both;
  width:100%;
  height: 1em;
}


