<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue sur Blablavroum
  </h1>
</div>
<div class="search-header"> <app-trajets></app-trajets> </div>

<div class="loginBox">
  <!--<app-membres></app-membres>-->
  <app-auth></app-auth>
</div>

<div class="spacer"></div>


<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <!--<alert></alert>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
