/*@import '~font-awesome/css/font-awesome.css';*/

body {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  background: #f2f2f2;
}

.text-header {
  text-align: center;
}

.search-header {
  float: left;
}

.loginBox {
  /*width: 20%;*/
  float: right;
  margin-right: 2em;

}
.spacer {
  display: block;
  clear: both;
  width:100%;
  height: 1em;
}

.container {
  background: white;
}

.img-title {
  height: 1em;
}

.img-logo {
  height: 15em;
  display: block;
  position: fixed;
  top: 2.5em;
  left: 2.5em;
}

a:hover {
  text-decoration: none;
}

a {
  color: initial;
}
