<div class="text-header">
  <a [routerLink]="['/']">
  <h1>
    Bienvenue sur
    <img class="img-title" src="assets/images/BlaBlaVroum_Logo.png"/>
  </h1>
  </a>

  <div class="spacer"></div>
  <a [routerLink]="['/']">
  <img class="img-logo" src="assets/images/ouioui_vectorized.png"/>
  </a>



</div>

<div class="spacer"></div>


<div class="container">
  <div class="loginBox">
    <app-auth></app-auth>
  </div>
  <div class="spacer"></div>

  <app-trajets></app-trajets>

  <div class="spacer"></div>

  <div class="row">
    <!--<alert></alert>-->
    <router-outlet></router-outlet>
  </div>
</div>
