
  <!--Voici la liste des trajets :-->
  <!--<ul>-->
    <!--<li *ngFor = "let trajet of trajets">-->
      <!--De {{trajet.depart.ville}} à {{trajet.arrivee.ville}} le {{trajet.date}} à {{trajet.heure}}.-->
	    <!--Ce trajet coûte {{trajet.prix}}€.-->
    <!--</li>-->
  <!--</ul>-->

  <span>
    Rechercher de
    <input type="text" [(ngModel)]="villeDepart" placeholder="ex. Montpellier" >
     <span class="arrow-ie">→</span>
    <input type="text" [(ngModel)]="villeArrivee" placeholder="ex. Lyon" >
    <input type="date" [(ngModel)]="dateDepart" >
  </span>

  <a *ngIf="dateDepart != undefined && dateDepart !=  ''" [routerLink]="['/trajets', 'trajets-recherche', villeDepart, villeArrivee, dateDepart]">
    <!--Recherche du trajet de {{villeDepart}} vers {{villeArrivee}} à partir du {{dateDepart}}-->
    <button class="trip-search-submit" type="submit">Chercher un trajet</button>
  </a>

  <a *ngIf="dateDepart == undefined || dateDepart == ''" [routerLink]="['/trajets', 'trajets-recherche', villeDepart, villeArrivee]">
    <!--Recherche du trajet de {{villeDepart}} vers {{villeArrivee}}-->
    <button class="trip-search-submit" type="submit">Chercher un trajet</button>
  </a>
  <br>


