<div>
  Voici la liste des trajets :
  <ul>
    <li *ngFor = "let trajet of trajets">
      De {{trajet.depart.ville}} à {{trajet.arrivee.ville}} le {{trajet.date}} à {{trajet.heure}}.
	    Ce trajet coûte {{trajet.prix}}€.
    </li>
  </ul>
  <span>Recherche de
    <input type="text" [(ngModel)]="villeDepart" placeholder="ex. Montpellier">
     à
    <input type="text" [(ngModel)]="villeArrivee" placeholder="ex. Lyon">
     à partir du
    <input type="date" [(ngModel)]="dateDepart" placeholder="aaaa-mm-dd" >
  </span>

  <a *ngIf="dateDepart != undefined" [routerLink]="['/trajets', 'trajets-recherche', villeDepart, villeArrivee, dateDepart]">
    Recherche du trajet de {{villeDepart}} vers {{villeArrivee}}à partir du {{dateDepart}}
  </a>

  <a *ngIf="dateDepart == undefined" [routerLink]="['/trajets', 'trajets-recherche', villeDepart, villeArrivee]">
    Recherche du trajet de {{villeDepart}} vers {{villeArrivee}}
  </a>

  <router-outlet></router-outlet>

</div>
