
<h3>Mes trajets :</h3>


<div *ngIf="anyTrajet">
    <h4>
      <a [routerLink]="['/trip-proposal']">Proposer un nouveau trajet</a>
    </h4>
</div>

<div *ngIf="!anyTrajet">
  <p>
    Vous n'avez pas encore proposé de trajets. Pourquoi ne pas <a [routerLink]="['/trip-proposal']">proposer un nouveau trajet</a> ?
  </p>

</div>

<div *ngIf="anyTrajet">
  <ul>
    <li *ngFor = "let trajet of mesTrajets" class="trip">
      <a [routerLink]="['/trip-details/', trajet._id]" class="trip-search-oneresult">
      <!--<a class="trip-search-oneresult" [(routerlink)]="['trip-details/', trajet._id]"> &lt;!&ndash; Lien vers le trajet en détail &ndash;&gt;-->
        De {{trajet.depart.ville}} ({{trajet.depart.adresse}}) à {{trajet.arrivee.ville}} ({{trajet.arrivee.adresse}}) le {{trajet.date}} à {{trajet.heure}}.
        Ce trajet coûte {{trajet.prix}}€.
      </a>
    </li>
  </ul>
</div>


