<div *ngIf="!gotResults()">
  <p> Aucun trajet ne correspond à votre recherche. <br>
      Essayez peut-être à une autre date.</p>
</div>

<div *ngIf="gotResults()">
  Voici le(s) resulat(s) de votre recherche :
  <ul class="trips-list">
    <li *ngFor = "let trajet of trajets" class="trip">
      <a class="trip-search-oneresult"> <!-- Lien vers le trajet en détail -->
      De {{trajet.depart.ville}} ({{trajet.depart.adresse}}) à {{trajet.arrivee.ville}} ({{trajet.arrivee.adresse}}) le {{trajet.date}} à {{trajet.heure}}.
	    Ce trajet coûte {{trajet.prix}}€.
      </a>
    </li>
  </ul>
</div>
