<label>Vehicules</label>

<div *ngIf="hasVehicules()">
  <ul>
    <li *ngFor="let vehicule of vehicules">

      {{vehicule.marque}} {{vehicule.modele}}, couleur {{vehicule.couleur}}
    </li>
  </ul>
</div>

<div *ngIf="!hasVehicules()">
  Vous n'avez pas encore enregistré de vehicule
</div>

<div>
  <button (click)="toggleVehiculeForm()" class="btn btn-info">Ajouter un vehicule</button>
  <div *ngIf="formEnabled">


    <span class="ui-float-label">

<!--<p-autoComplete [(ngModel)]="model.marque" [suggestions]="autocompleteMarques" (completeMethod)="searchMarque($event)" [dropdown]="true"></p-autoComplete>-->
      <p-autoComplete [(ngModel)]="model.marque"
                      [suggestions]="autocompleteMarques" (completeMethod)="filterBrand($event)"
                      [size]="30"  placeholder="Marque" [required]="true" [dropdown]="true"></p-autoComplete>
        <!--<input name="marque" id="marque-input" type="text" [(ngModel)]="model.marque" size="30" pInputText>-->
    </span>

    <span class="ui-float-label">
        <!--<input name="modele" id="modele-input" type="text" size="30" [(ngModel)]="model.modele" pInputText>-->
      <p-autoComplete [(ngModel)]="model.modele"
                      [suggestions]="autocompleteModeles" (completeMethod)="filterModels($event)"
                      [size]="30"  placeholder="Modele" [required]="true" [dropdown]="true"></p-autoComplete>

    </span>

    <span class="ui-float-label">
        <!--<input name="couleur" id="couleur-input" type="text" size="30" [(ngModel)]="model.couleur" pInputText>-->
      <p-autoComplete [(ngModel)]="model.couleur"
                      [suggestions]="autocompleteCouleurs" (completeMethod)="filterColors($event)"
                      [size]="30"  placeholder="Couleur" [required]="true" [dropdown]="true"></p-autoComplete>

    </span>

    <button class="btn btn-success" (click)="onAddVehicule()" [disabled]="!formEnabled">Ajouter un vehicule</button>
  </div>
</div>
